# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
animating/node_modules
cameras/node_modules
transforming-objects/node_modules
webpack/node_modules